flows.json
[{"id":"37df238a.02a2ec","type":"tab","label":"Timestamp & Temp/Hum ","disabled":false,"info":""},{"id":"d88e4e4a.973ee","type":"tab","label":"Water level & Soil moisture","disabled":false,"info":""},{"id":"52e7237c.198b1c","type":"tab","label":"Luminosity","disabled":false,"info":""},{"id":"4f69d78a.b29558","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"904acf1b.f81fa","type":"tab","label":"Local Backup","disabled":false,"info":""},{"id":"91b01006.147a2","type":"ui_tab","name":"cam","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ba32d8e5.cf3568","type":"ui_tab","name":"Stat","icon":"dashboard","order":2},{"id":"e88333f4.c6ff9","type":"ui_tab","name":"ESP32-CAM","icon":"camera","disabled":false,"hidden":false},{"id":"4e58e579.0d683c","type":"ui_group","name":"charts","tab":"ba32d8e5.cf3568","order":1,"disp":true,"width":23,"collapse":false},{"id":"e820b02f.3e864","type":"ui_group","name":"","tab":"91b01006.147a2","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd20e15c.bb6b1","type":"ui_group","name":"","tab":"91b01006.147a2","order":3,"disp":true,"width":"6","collapse":false},{"id":"3b0a625c.d968be","type":"ui_group","name":"Controls","tab":"e88333f4.c6ff9","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9d8d700.2a94e8","type":"ui_group","name":"Output","tab":"e88333f4.c6ff9","order":2,"disp":true,"width":"13","collapse":false},{"id":"5c9e95b4.a4591c","type":"ui_group","name":"","tab":"91b01006.147a2","order":1,"disp":true,"width":"6","collapse":false},{"id":"939cc039.c856","type":"ui_spacer","name":"spacer","group":"4e58e579.0d683c","order":2,"width":23,"height":1},{"id":"9d69dd45.ae8a","type":"ui_spacer","name":"spacer","group":"4e58e579.0d683c","order":3,"width":23,"height":1},{"id":"b96a696f.857c28","type":"ui_spacer","name":"spacer","group":"4e58e579.0d683c","order":4,"width":23,"height":1},{"id":"5320a0ee.f2ed3","type":"ui_spacer","name":"spacer","group":"4e58e579.0d683c","order":6,"width":23,"height":1},{"id":"73ab7134.4fef9","type":"ui_spacer","name":"spacer","group":"4e58e579.0d683c","order":7,"width":23,"height":1},{"id":"d44ac5e9.adbe08","type":"ui_spacer","name":"spacer","group":"4e58e579.0d683c","order":8,"width":23,"height":1},{"id":"7dfc8ab2.7297b4","type":"ui_spacer","name":"spacer","group":"f021378a.4c7428","order":8,"width":6,"height":1},{"id":"ef89c58.947df38","type":"ui_spacer","name":"spacer","group":"f021378a.4c7428","order":9,"width":6,"height":1},{"id":"4f55d479.54a05c","type":"ui_spacer","name":"spacer","group":"f021378a.4c7428","order":10,"width":6,"height":1},{"id":"1486a8ab.42f9d7","type":"ui_spacer","name":"spacer","group":"f021378a.4c7428","order":11,"width":6,"height":1},{"id":"2e5730eb.da6c7","type":"ui_spacer","name":"spacer","group":"f021378a.4c7428","order":12,"width":6,"height":1},{"id":"e6874d62.d0d64","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Plant Monitoring","hideToolbar":"true","allowSwipe":"false","lockMenu":"icon","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a2bad6a.a788e4","type":"inject","z":"37df238a.02a2ec","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["4aa49362.4073dc","55c4c6a6.87de68","fb48c0c0.d427b"]]},{"id":"4aa49362.4073dc","type":"rpi-dht22","z":"37df238a.02a2ec","name":"DHT11","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"4","x":310,"y":240,"wires":[["d7427def.c364e","b0e3e25a.59a04","7a32a8ff.7e9db8"]]},{"id":"d7427def.c364e","type":"function","z":"37df238a.02a2ec","name":"Temperature","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":180,"wires":[["98b353fe.8d4c1","fe2c9c79.97bf6","234cedbe.1bdb82","ac5a7e70.eab3e"]]},{"id":"b0e3e25a.59a04","type":"function","z":"37df238a.02a2ec","name":"Humidity","func":"msg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":300,"wires":[["5a5558e4.b1a538","5360a9ee.df1e38","9f1e697a.acef88","a2e5387e.ca90f8"]]},{"id":"98b353fe.8d4c1","type":"ui_gauge","z":"37df238a.02a2ec","name":"","group":"e820b02f.3e864","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":160,"wires":[]},{"id":"5a5558e4.b1a538","type":"ui_gauge","z":"37df238a.02a2ec","name":"","group":"e820b02f.3e864","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":320,"wires":[]},{"id":"fe2c9c79.97bf6","type":"ui_chart","z":"37df238a.02a2ec","name":"","group":"4e58e579.0d683c","order":1,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":120,"wires":[[]]},{"id":"5360a9ee.df1e38","type":"ui_chart","z":"37df238a.02a2ec","name":"","group":"4e58e579.0d683c","order":9,"width":0,"height":0,"label":"Humidity chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":360,"wires":[[]]},{"id":"b3b6f63e.417338","type":"ui_button","z":"4f69d78a.b29558","name":"","group":"3b0a625c.d968be","order":4,"width":0,"height":0,"passthru":false,"label":"Set VGA","tooltip":"","color":"","bgcolor":"#ffcc99","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":100,"y":260,"wires":[["bfaa481.f1f6ab8"]]},{"id":"fa983e34.a18b","type":"http request","z":"4f69d78a.b29558","name":"ESP32-CAM Still","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.0.104/capture","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":40,"wires":[["6fdbe93b.f9a698"]]},{"id":"b11c47f0.b43a58","type":"ui_template","z":"4f69d78a.b29558","group":"b9d8d700.2a94e8","name":"","order":1,"width":"13","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":620,"y":140,"wires":[[]]},{"id":"bfaa481.f1f6ab8","type":"http request","z":"4f69d78a.b29558","name":"Set VGA resolution","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.104/control?var=framesize&val=6","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":260,"wires":[["c0f30f8d.79ab1"]]},{"id":"280cf926.ac8146","type":"ui_button","z":"4f69d78a.b29558","name":"","group":"3b0a625c.d968be","order":1,"width":0,"height":0,"passthru":false,"label":"Capture image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":120,"y":80,"wires":[["fa983e34.a18b","9208ee4d.a589c"]]},{"id":"dd6079fd.4f0ad8","type":"ui_button","z":"4f69d78a.b29558","name":"","group":"3b0a625c.d968be","order":2,"width":0,"height":0,"passthru":false,"label":"Start Stream","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":110,"y":140,"wires":[["4d4bc957.00d848"]]},{"id":"3b0cd19d.854aae","type":"ui_button","z":"4f69d78a.b29558","name":"","group":"3b0a625c.d968be","order":3,"width":0,"height":0,"passthru":false,"label":"Stop Stream","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":200,"wires":[["b2a25d8a.185a8"]]},{"id":"4d4bc957.00d848","type":"function","z":"4f69d78a.b29558","name":"Stream URL","func":"\nmsg.payload=\"<p><img src='http://192.168.0.107:81/stream'/></p>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":140,"wires":[["b11c47f0.b43a58"]]},{"id":"b2a25d8a.185a8","type":"function","z":"4f69d78a.b29558","name":"Stop stream","func":"\nmsg.payload=\"<p></p>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":200,"wires":[["b11c47f0.b43a58"]]},{"id":"61e58d3c.b6e6e4","type":"ui_button","z":"4f69d78a.b29558","name":"","group":"3b0a625c.d968be","order":5,"width":0,"height":0,"passthru":false,"label":"Set QVGA","tooltip":"","color":"","bgcolor":"#ffcc99","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":320,"wires":[["6d64137c.d9f0cc"]]},{"id":"6d64137c.d9f0cc","type":"http request","z":"4f69d78a.b29558","name":"Set QVGA resolution","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.104/control?var=framesize&val=3","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":320,"wires":[["255b4f1e.1f2fd"]]},{"id":"6b0a50cf.ac875","type":"ui_toast","z":"4f69d78a.b29558","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":710,"y":280,"wires":[]},{"id":"c0f30f8d.79ab1","type":"change","z":"4f69d78a.b29558","name":"Set msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"VGA settings set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["6b0a50cf.ac875"]]},{"id":"255b4f1e.1f2fd","type":"change","z":"4f69d78a.b29558","name":"Set msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"QVGA settings set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["6b0a50cf.ac875"]]},{"id":"d4f4c262.e4eb9","type":"function","z":"4f69d78a.b29558","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = + yyyy + mm + dd + ss + \".JPEG\";\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/Desktop/esp/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\n//msg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":40,"wires":[["6067bf24.302db"]]},{"id":"6067bf24.302db","type":"file","z":"4f69d78a.b29558","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":40,"wires":[[]]},{"id":"9208ee4d.a589c","type":"function","z":"4f69d78a.b29558","name":"Stream URL","func":"\nmsg.payload=\"<p><img src='http://192.168.0.104/capture'/></p>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":80,"wires":[["b11c47f0.b43a58"]]},{"id":"6fdbe93b.f9a698","type":"file","z":"4f69d78a.b29558","name":"Save image","filename":"/home/pi/Desktop/esp/esp.jpeg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":550,"y":40,"wires":[["d4f4c262.e4eb9"]]},{"id":"234cedbe.1bdb82","type":"ui_text","z":"37df238a.02a2ec","group":"5c9e95b4.a4591c","order":1,"width":3,"height":1,"name":"","label":"Temperature(°C)","format":"{{msg.payload}}","layout":"col-center","x":750,"y":80,"wires":[]},{"id":"9f1e697a.acef88","type":"ui_text","z":"37df238a.02a2ec","group":"5c9e95b4.a4591c","order":2,"width":3,"height":1,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"col-center","x":740,"y":400,"wires":[]},{"id":"7a32a8ff.7e9db8","type":"link out","z":"37df238a.02a2ec","name":"Temp/Hum in","links":["b58625ce.095738","69c03be4.1e5f64","36f48b1b.dc2044","8fec6411.39a708","6d26a738.d912c8"],"x":555,"y":240,"wires":[]},{"id":"4cd0bc4.bea4844","type":"GSheet","z":"37df238a.02a2ec","d":true,"creds":"","method":"append","action":"","sheet":"","cells":"Sheet1!B1","flatten":false,"name":"","x":710,"y":40,"wires":[[]]},{"id":"e7a8bd32.c69a2","type":"GSheet","z":"37df238a.02a2ec","d":true,"creds":"","method":"append","action":"","sheet":"","cells":"Sheet2!B1","flatten":false,"name":"","x":710,"y":460,"wires":[[]]},{"id":"1e8c57fc.b494a8","type":"rpi-gpio out","z":"d88e4e4a.973ee","name":"water pump","pin":"38","set":false,"level":"0","freq":"","out":"out","x":830,"y":360,"wires":[]},{"id":"c217ba76.a44098","type":"rbe","z":"d88e4e4a.973ee","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":360,"wires":[["1e8c57fc.b494a8"]]},{"id":"c80af429.5ae4b8","type":"change","z":"d88e4e4a.973ee","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":380,"wires":[["c217ba76.a44098","ba37db67.d86d48"]]},{"id":"7c9996ed.8d2178","type":"switch","z":"d88e4e4a.973ee","name":"Check Water Content","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":360,"wires":[["eab8c4bc.6d3f88"],["c80af429.5ae4b8"]]},{"id":"eab8c4bc.6d3f88","type":"change","z":"d88e4e4a.973ee","name":"turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["c217ba76.a44098","374cb3fb.55873c"]]},{"id":"dfd5be94.097a1","type":"pimcp3008","z":"d88e4e4a.973ee","name":"","dev":"3208","pin":"7","dnum":0,"bus":"0","x":330,"y":180,"wires":[["b98b3778.e346c8"]]},{"id":"b7766704.7e98e8","type":"pimcp3008","z":"d88e4e4a.973ee","name":"","dev":"3208","pin":"0","dnum":0,"bus":0,"x":330,"y":220,"wires":[["f4b881f2.4d45a"]]},{"id":"b2b33bb4.6ef978","type":"ui_gauge","z":"d88e4e4a.973ee","name":"","group":"fd20e15c.bb6b1","order":1,"width":6,"height":4,"gtype":"wave","title":"Water Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":180,"wires":[]},{"id":"b98b3778.e346c8","type":"range","z":"d88e4e4a.973ee","minin":"1600","maxin":"2300","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":520,"y":180,"wires":[["b2b33bb4.6ef978","4a522d8f.07b4d4"]]},{"id":"b4134f7e.a278b","type":"ui_gauge","z":"d88e4e4a.973ee","name":"","group":"fd20e15c.bb6b1","order":2,"width":0,"height":0,"gtype":"gage","title":"soil moisture","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":220,"wires":[]},{"id":"f4b881f2.4d45a","type":"range","z":"d88e4e4a.973ee","minin":"1500","maxin":"2800","minout":"100","maxout":"0","action":"clamp","round":true,"property":"payload","name":"","x":500,"y":220,"wires":[["7c9996ed.8d2178","f7d6e80f.6ef698","b4134f7e.a278b","3178d0cc.8c5e5"]]},{"id":"3eb23efc.f4edf2","type":"ui_text","z":"d88e4e4a.973ee","group":"5c9e95b4.a4591c","order":6,"width":3,"height":1,"name":"","label":"Water pump","format":"{{msg.payload}}","layout":"col-center","x":1050,"y":360,"wires":[]},{"id":"374cb3fb.55873c","type":"change","z":"d88e4e4a.973ee","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":320,"wires":[["3eb23efc.f4edf2"]]},{"id":"ba37db67.d86d48","type":"change","z":"d88e4e4a.973ee","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":400,"wires":[["3eb23efc.f4edf2"]]},{"id":"4a522d8f.07b4d4","type":"ui_text","z":"d88e4e4a.973ee","group":"5c9e95b4.a4591c","order":3,"width":3,"height":1,"name":"","label":"Water Level","format":"{{msg.payload}}","layout":"row-center","x":710,"y":140,"wires":[]},{"id":"f7d6e80f.6ef698","type":"ui_text","z":"d88e4e4a.973ee","group":"5c9e95b4.a4591c","order":4,"width":3,"height":1,"name":"","label":"Soil Moisture","format":"{{msg.payload}}","layout":"row-center","x":710,"y":260,"wires":[]},{"id":"f0fcfc9a.ffd2c","type":"link in","z":"d88e4e4a.973ee","name":"water level/ soil moisture out","links":["55c4c6a6.87de68"],"x":85,"y":200,"wires":[["dfd5be94.097a1","b7766704.7e98e8"]]},{"id":"55c4c6a6.87de68","type":"link out","z":"37df238a.02a2ec","name":"water level/ soil moisture in","links":["f0fcfc9a.ffd2c"],"x":155,"y":360,"wires":[]},{"id":"67d0eb86.693574","type":"pythonshell in","z":"52e7237c.198b1c","name":"Luminosity","pyfile":"/home/pi/Desktop/tsl.py","virtualenv":"","continuous":false,"stdInData":false,"x":370,"y":240,"wires":[["55ac8112.99b98","ba8bb711.847a88","87c0f5b0.0676e8","d6451043.cf16a","edb82f11.cfcbb"]]},{"id":"ba8bb711.847a88","type":"ui_gauge","z":"52e7237c.198b1c","name":"","group":"5c9e95b4.a4591c","order":10,"width":0,"height":0,"gtype":"gage","title":"Luminosity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":280,"wires":[]},{"id":"55ac8112.99b98","type":"ui_chart","z":"52e7237c.198b1c","name":"","group":"4e58e579.0d683c","order":5,"width":0,"height":0,"label":"Luminosity chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":200,"wires":[[]]},{"id":"ec378006.354b8","type":"rpi-gpio out","z":"52e7237c.198b1c","name":"Light","pin":"40","set":false,"level":"0","freq":"","out":"out","x":810,"y":380,"wires":[]},{"id":"27f1673d.ac8448","type":"rbe","z":"52e7237c.198b1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":690,"y":380,"wires":[["ec378006.354b8"]]},{"id":"77f6a178.e850b","type":"change","z":"52e7237c.198b1c","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[["27f1673d.ac8448","777259ce.0f6c18"]]},{"id":"87c0f5b0.0676e8","type":"switch","z":"52e7237c.198b1c","name":"Check Light Intensity","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":380,"wires":[["53c1b148.9b79a"],["77f6a178.e850b"]]},{"id":"53c1b148.9b79a","type":"change","z":"52e7237c.198b1c","name":"turn on","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["27f1673d.ac8448","80e59f85.60f66"]]},{"id":"1154e18b.9a49fe","type":"ui_text","z":"52e7237c.198b1c","group":"5c9e95b4.a4591c","order":7,"width":3,"height":1,"name":"","label":"Artificial light ","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":380,"wires":[]},{"id":"80e59f85.60f66","type":"change","z":"52e7237c.198b1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[["1154e18b.9a49fe"]]},{"id":"777259ce.0f6c18","type":"change","z":"52e7237c.198b1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":420,"wires":[["1154e18b.9a49fe"]]},{"id":"d6451043.cf16a","type":"ui_text","z":"52e7237c.198b1c","group":"5c9e95b4.a4591c","order":5,"width":0,"height":0,"name":"","label":"Luminosity","format":"{{msg.payload}}","layout":"row-center","x":770,"y":240,"wires":[]},{"id":"410f31c1.2f429","type":"GSheet","z":"52e7237c.198b1c","d":true,"creds":"","method":"append","action":"","sheet":"","cells":"Sheet3!B1","flatten":false,"name":"","x":750,"y":160,"wires":[[]]},{"id":"da20049a.fabd48","type":"link in","z":"52e7237c.198b1c","name":"Luminosity out","links":["fb48c0c0.d427b"],"x":125,"y":240,"wires":[["67d0eb86.693574"]]},{"id":"fb48c0c0.d427b","type":"link out","z":"37df238a.02a2ec","name":"Luminosity in","links":["da20049a.fabd48"],"x":235,"y":340,"wires":[]},{"id":"1adf2e78.551612","type":"function","z":"904acf1b.f81fa","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"Temp_Hum\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/Desktop/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":100,"wires":[["2ecae79f.8c28d8"]]},{"id":"2ecae79f.8c28d8","type":"fs-file-lister","z":"904acf1b.f81fa","name":"","start":"/home/pi/Desktop/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":600,"y":100,"wires":[["9a7767c.5ba3a98"]]},{"id":"9a7767c.5ba3a98","type":"switch","z":"904acf1b.f81fa","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":100,"wires":[["6a64306.59875d"],["662e0b35.d36124"]]},{"id":"7d4d24b4.c4009c","type":"csv","z":"904acf1b.f81fa","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity,luminosity","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1030,"y":80,"wires":[["7e02e616.531a78"]]},{"id":"7e02e616.531a78","type":"file","z":"904acf1b.f81fa","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":100,"wires":[[]]},{"id":"fa14f1f2.bc50e","type":"csv","z":"904acf1b.f81fa","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity,luminosity","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1030,"y":120,"wires":[["7e02e616.531a78"]]},{"id":"6a64306.59875d","type":"change","z":"904acf1b.f81fa","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":80,"wires":[["7d4d24b4.c4009c"]]},{"id":"662e0b35.d36124","type":"change","z":"904acf1b.f81fa","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":120,"wires":[["fa14f1f2.bc50e"]]},{"id":"fe2a733d.45ec3","type":"function","z":"904acf1b.f81fa","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : msg.payload,\n    \"humidity\" : msg.humidity,\n    \"luminosity\" : msg.luminosity,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":100,"wires":[["1adf2e78.551612"]]},{"id":"69c03be4.1e5f64","type":"link in","z":"904acf1b.f81fa","name":"Temp/Hum out","links":["7a32a8ff.7e9db8"],"x":155,"y":100,"wires":[["fe2a733d.45ec3"]]},{"id":"c5d80ca4.9e471","type":"function","z":"904acf1b.f81fa","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"Soilmoisture\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/Desktop/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":280,"wires":[["af82fe07.85bbf"]]},{"id":"af82fe07.85bbf","type":"fs-file-lister","z":"904acf1b.f81fa","name":"","start":"/home/pi/Desktop/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":600,"y":280,"wires":[["96aa21fa.4b229"]]},{"id":"96aa21fa.4b229","type":"switch","z":"904acf1b.f81fa","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":280,"wires":[["f7c816b8.0cb7c8"],["105a1a7b.c9b386"]]},{"id":"f214ad96.86c9","type":"csv","z":"904acf1b.f81fa","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity,luminosity","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1030,"y":260,"wires":[["7135602b.a686e"]]},{"id":"7135602b.a686e","type":"file","z":"904acf1b.f81fa","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":280,"wires":[[]]},{"id":"daff1cb3.e221e","type":"csv","z":"904acf1b.f81fa","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity,luminosity","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1030,"y":300,"wires":[["7135602b.a686e"]]},{"id":"f7c816b8.0cb7c8","type":"change","z":"904acf1b.f81fa","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":260,"wires":[["f214ad96.86c9"]]},{"id":"105a1a7b.c9b386","type":"change","z":"904acf1b.f81fa","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":300,"wires":[["daff1cb3.e221e"]]},{"id":"ab274699.bf4bd8","type":"function","z":"904acf1b.f81fa","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : msg.payload,\n    \"humidity\" : msg.humidity,\n    \"luminosity\" : msg.luminosity,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":280,"wires":[["c5d80ca4.9e471"]]},{"id":"36f48b1b.dc2044","type":"link in","z":"904acf1b.f81fa","name":"Soil Moisture out","links":["7a32a8ff.7e9db8"],"x":155,"y":280,"wires":[["ab274699.bf4bd8"]]},{"id":"a2e5387e.ca90f8","type":"rbe","z":"37df238a.02a2ec","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":550,"y":420,"wires":[["e7a8bd32.c69a2"]]},{"id":"ac5a7e70.eab3e","type":"rbe","z":"37df238a.02a2ec","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":490,"y":80,"wires":[["4cd0bc4.bea4844"]]},{"id":"bf96c0b.806174","type":"function","z":"904acf1b.f81fa","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"Luminosity\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/Desktop/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":460,"wires":[["b9a46c3c.54b6b"]]},{"id":"b9a46c3c.54b6b","type":"fs-file-lister","z":"904acf1b.f81fa","name":"","start":"/home/pi/Desktop/","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":600,"y":460,"wires":[["508b99c6.5cf648"]]},{"id":"508b99c6.5cf648","type":"switch","z":"904acf1b.f81fa","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":460,"wires":[["f078e3f5.bc0fc"],["4bef432a.47b1ac"]]},{"id":"333541b5.024c4e","type":"csv","z":"904acf1b.f81fa","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity,luminosity","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1030,"y":440,"wires":[["f3126921.65ee98"]]},{"id":"f3126921.65ee98","type":"file","z":"904acf1b.f81fa","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":460,"wires":[[]]},{"id":"2f5e1f09.01dba","type":"csv","z":"904acf1b.f81fa","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,temperature,humidity,luminosity","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1030,"y":480,"wires":[["f3126921.65ee98"]]},{"id":"f078e3f5.bc0fc","type":"change","z":"904acf1b.f81fa","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":440,"wires":[["333541b5.024c4e"]]},{"id":"4bef432a.47b1ac","type":"change","z":"904acf1b.f81fa","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":480,"wires":[["2f5e1f09.01dba"]]},{"id":"baea8003.400f8","type":"function","z":"904acf1b.f81fa","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"temperature\" : msg.payload,\n    \"humidity\" : msg.humidity,\n    \"luminosity\" : msg.luminosity,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":460,"wires":[["bf96c0b.806174"]]},{"id":"6d26a738.d912c8","type":"link in","z":"904acf1b.f81fa","name":"Lumi Out","links":["7a32a8ff.7e9db8"],"x":155,"y":460,"wires":[["baea8003.400f8"]]},{"id":"e184c86c.af8488","type":"comment","z":"904acf1b.f81fa","name":"Temperature/Humidity","info":"","x":330,"y":60,"wires":[]},{"id":"2aece74d.72aff8","type":"comment","z":"904acf1b.f81fa","name":"Soil Moisture","info":"","x":290,"y":240,"wires":[]},{"id":"4f8a3b0a.7558e4","type":"comment","z":"904acf1b.f81fa","name":"Luminosity","info":"","x":280,"y":420,"wires":[]},{"id":"edb82f11.cfcbb","type":"rbe","z":"52e7237c.198b1c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":570,"y":160,"wires":[["410f31c1.2f429"]]},{"id":"b91e3e36.9fd7d","type":"GSheet","z":"d88e4e4a.973ee","d":true,"creds":"","method":"append","action":"","sheet":"","cells":"Sheet4!B1","flatten":false,"name":"","x":1090,"y":240,"wires":[[]]},{"id":"3178d0cc.8c5e5","type":"rbe","z":"d88e4e4a.973ee","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":910,"y":240,"wires":[["b91e3e36.9fd7d"]]},{"id":"f6d310fd.74a16","type":"ui_switch","z":"52e7237c.198b1c","name":"","label":"","tooltip":"","group":"5c9e95b4.a4591c","order":9,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":370,"y":460,"wires":[["261627c4.54f208","ec378006.354b8"]]},{"id":"261627c4.54f208","type":"switch","z":"52e7237c.198b1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":460,"wires":[["80e59f85.60f66"],["777259ce.0f6c18"]]},{"id":"b002f0c1.df5c3","type":"ui_switch","z":"d88e4e4a.973ee","name":"","label":"","tooltip":"","group":"5c9e95b4.a4591c","order":9,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":390,"y":460,"wires":[["dbb0e09b.6d489","1e8c57fc.b494a8"]]},{"id":"dbb0e09b.6d489","type":"switch","z":"d88e4e4a.973ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":460,"wires":[["374cb3fb.55873c"],["ba37db67.d86d48"]]}]